{% extends "base.html" %}
{% block title %}Clientes{% endblock %}

{% block content %}
    <section class="page-section portfolio" id="portfolio">
    <ul>
    <h1>Eliminar cliente</h1>

    <p>¿Estás seguro que quieres eliminar a {{ object.username }}?:</p>

    <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Eliminar">
    </form>
    <br>
    <button type="button" onclick="window.location='{% url 'gmsk:clients-list' %}'"> Cancelar </button>
    </ul>
    </section>
{% endblock %}