{% extends "base.html" %}
{% load static %}
{% block title %}Comunidades{% endblock %}

{% block content %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Comunidades</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            {% for community in object_list %}
            
            <div class="col-md-6 col-lg-4 mb-5">
                {% comment %} <a href="{% url 'client-list' %}{{ user.id }}"> {% endcomment %}
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ forloop.counter0 }}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        {% if user.img %}
                    <img src="/media/{{ user.image }}" alt="Log Cabin" style="height: 238px; 
                    width: 100%; "/>
                    {% else %}
                    <img class="img-fluid" src="/media/{{ community.img }}" alt="Log Cabin" style="height: 238px; width: 100%; "/>
                    {%endif %}
                    </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title-->
                                        <h2 class="portfolio-modal-title text-secondary mb-0">Tasty Cake</h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image-->{% if community.img %}
                                                                            <img src="/media/{{ community.img }}" alt="Log Cabin" style="height: 200px; width: 50%; "/>
                                                                        {% else %}
                                                                            <img class="img-fluid" src="/media/{{ community.img }}" alt="Log Cabin"/>
                                                                        {%endif %}
                                        <!-- Portfolio Modal - Text-->
                                        <br>
                                        <p class="mb-5">
                                            <ul>
                                                <li style="list-style: none"><b>Nombre:</b> {{ community.name }}</li>
                                                <li style="list-style: none"><b>Descripción:</b> {{ community.description }}</li>
                                                <li style="list-style: none"><b>Juego:</b> {{ community.game }}</li>
                                                <li style="list-style: none"><b>Jugadores:</b> {{ community.number_of_players }}</li>
                                            </ul></p>
                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-dark" onclick="window.location.href='/comunidades/add/'">Añadir</button>
        {% else %}
    <p>Logueate para añadir comunidades!!</p>
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href={% url 'login' %}>Login</a>
    {% endif %}
</section>
{% endblock %}
