{% extends "base.html" %}

{% block content %}
<h2>Contacto</h2>

<ul>
    <li style="list-style: none"><b>Correo:</b> josemanuel.rodriguez.guerrero.alu@iesfernandoaguilar.es</li>
    <li style="list-style: none"><a href="https://www.linkedin.com/in/jos%C3%A9-manuel-rodr%C3%ADguez-guerrero-367a09234"</a>Linkedin</li>
    <li style="list-style: none"><a href="https://imgs.search.brave.com/IsNeAbJ2KnrI6q1BtvlFS21b3uhQIOOjrR6zP-o_uhU/rs:fit:1200:720:1/g:ce/aHR0cHM6Ly9pLnl0/aW1nLmNvbS92aS9X/bzlZMDNFbXZIWS9t/YXhyZXNkZWZhdWx0/LmpwZw"</a>Only Fans</li>
</ul>

{% endblock %}