{% extends "base.html" %}
{% load static %}
{% block title %}Contacto{% endblock %}

{% block content %}
<section class="page-section portfolio" id="portfolio">
<!-- Portfolio Section Heading-->
<div class="text-center">
    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Contacto</h2>
</div>
<!-- Icon Divider-->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>

<ul>
    <li style="list-style: none"><a href="https://www.linkedin.com/in/jos%C3%A9-manuel-rodr%C3%ADguez-guerrero-367a09234">Linkedin</a>             </li>
</ul>

<div class="text-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
                    Email
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Creador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            josemanuel.rodriguez.guerrero.alu@iesfernandoaguilar.es
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

</section>
{% endblock %}