{% extends "base.html" %}
{% block title %}Eventos{% endblock %}

{% block content %}
<section class="page-section portfolio" id="portfolio">
    <ul>
    <h2>Eventos</h2>
    <div id="accordion">
    {% for event in object_list %}
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ event.name }}
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li class="wevo" style="list-style: none"><b>Descripción:</b> {{ event.description }}</li>
                <li class="wevo" style="list-style: none"><b>Juego:</b> {{ event.game }}</li>
                <li class="wevo" style="list-style: none"><b>Idioma:</b> {{ event.language }}</li>
                <li class="wevo" style="list-style: none"><b>Fecha:</b> {{ event.date }}</li>
              </ul>
            </div>
          </div>
        </div>
      
      <br> 
    <!-- <li><a href={% url 'gmsk:events-detail' event.id %}>{{ event.name }} </a><a href={% url 'gmsk:events-update' event.id %}>Editar  </a><a href={% url 'gmsk:events-delete' event.id %}>Eliminar</a></li> -->
    {% endfor %}
    </div>   
    <br>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-dark" onclick="window.location.href='/eventos/add/'">Añadir</button>
      {% else %}
      <p>Logueate para crear eventos</p>
      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href={% url 'login' %}>Login</a>
    {% endif %}
</ul>
</section>
{% endblock %}