{% extends "base.html" %}
{% block title %}Eventos{% endblock %}

{% block content %}
<section class="page-section portfolio" id="portfolio">
    <ul>
    <h2>{{ object.name }}</h2>
        <li style="list-style: none"><b>Fecha:</b> {{ object.date }}</li>
        <li style="list-style: none"><b>Límite de jugadores:</b> {{ object.limit_of_players }}</li>
        <li style="list-style: none"><b>Idioma:</b> {{ object.language }}</li>
        <li style="list-style: none"><b>Descripción:</b> {{ object.description }}</li>
        <br>
        <button type="button" class="btn btn-dark" onclick="window.location.href='edit/'">Editar</button>
        <button type="button" class="btn btn-dark" onclick="window.location.href='delete/'">Eliminar</button>
        
    </ul>
</section>
{% endblock %}