{% extends "base.html" %}

{% block content %}
<h2>{{ object.name }}</h2>

    <ul>
        <li style="list-style: none"><b>Fecha:</b> {{ object.date }}</li>
        <li style="list-style: none"><b>Límite de jugadores:</b> {{ object.limit_of_players }}</li>
        <li style="list-style: none"><b>Juego:</b> {{ object.game }}</li>
        <li style="list-style: none"><b>Idioma:</b> {{ object.language }}</li>
        <li style="list-style: none"><b>Descripción:</b> {{ object.description }}</li>
    </ul>

{% endblock %}