{% extends "base.html" %}
{% block title %}Juegos{% endblock %}

{% block content %}
<section class="page-section portfolio" id="portfolio">
    <ul>
    <h2>{{ object.name }}</h2>
    <li style="list-style: none"><b>Categoría:</b> {{ object.category }}</li>
    <li style="list-style: none"><b>Descipción:</b> {{ object.description }}</li>
    <br>
    {% if request.user.is_superuser %}
    <button type="button" class="btn btn-dark" onclick="window.location.href='edit/'">Editar</button>
    <button type="button" class="btn btn-dark" onclick="window.location.href='delete/'">Eliminar</button>
    {% endif %}
    </ul>
</section>
{% endblock %}