{% extends "base.html" %}
{% block title %}Juegos{% endblock %}

{% block content %}
<section class="page-section portfolio" id="portfolio">
    <ul>
    <h1>Eliminar juego</h1>
    <p>¿Estás seguro que quieres eliminar a {{ object.name }}?:</p>

    <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Eliminar">
    </form>
    <br>
    <button type="button" onclick="window.location='{% url 'gmsk:games-list' %}'"> Cancelar </button>
    </ul>
</section>
{% endblock %}