{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}


{% block content %}
<body id="page-top">
    
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">             
            <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="{% static 'assets/img/logo_circular.png' %}" alt="">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">GAMESEEKER</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">BUSCA LOS EVENTOS DE TUS JUEGOS FAVORITOS!
PARA NO JUGAR SOLO!</p>
        </div>
    </header>
    <section class="page-section portfolio" id="portfolio">    
        <ul>

        <h4><a href={% url 'gmsk:clients-list' %}>Clientes</a></h4>
        <h4><a href={% url 'gmsk:communitys-list' %}>Comunidades</a></h4>
        <h4><a href={% url 'gmsk:events-list' %}>Eventos</a></h4>
        <h4><a href={% url 'gmsk:games-list' %}>Juegos</a></h4>
        
        </ul>
    </section>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-white">TABLÓN DE EVENTOS</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
            </div>
        </div>
    </section>
    <section class="page-section bg-primary text-white mb-0" id="about">    
        <ul>

        <h4>Evento1</h4>
        <h4>Evento2</h4>
        <h4>Evento3</h4>
        <h4>Evento4</h4>
        
        </ul>
    </section>
    <!-- Portfolio Modal-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- About Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-white">ACERCA DE</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="pre-wrap lead">Gameseeker pretende que puedas buscar eventos relacionados con el juego que buscas para jugar de forma cooperativa.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="pre-wrap lead">No te sientas solo!! Busca eventos con la mejor convivencia donde la gente te ayudará en misiones de juegos que estés estancado o requiera de un número de jugadores.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACTO</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="text-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
                    Correo
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Correo electrónico</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        josemanuel.rodriguez.guerrero.alu@iesfernandoaguilar.es
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">UBICACIÓN</h4>
                    <p class="pre-wrap lead mb-0">ESPAÑA</p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">MIS REDES SOCIALES</h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/https://twitter.com/Gameseeker_"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/https://www.linkedin.com/in/jos%C3%A9-manuel-rodr%C3%ADguez-guerrero-367a09234/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="mb-4">SOBRE GAMESEEKER</h4>
                    <p class="pre-wrap lead mb-0">Gameseeker requiere de registro para poder unirse o crear eventos. ¿A qué esperas?</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">FernandoAguilarQuignon © Your Website 2020     </small></div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="static/assets/mail/jqBootstrapValidation.js"></script>
    <script src="static/assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="static/js/scripts.js"></script>
</body>
    