<!DOCTYPE html>
{% load static %}


<html lang="en">
    <head>
        {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
        <title>Gameseeker | {% block title %}{% endblock %}</title>
        <link rel="icon" href="{% static 'img/icono.ico' %}" type="image/x-icon"/>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link href="{% static "css/styles.css" %}" rel="stylesheet" >
        <link rel="stylesheet" type="text/css" href="{% static 'css/heading.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}">

    
    </head>

    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto/">Contacto</a></li>
            </ul>
            {% endblock %}
        </div>


        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="/">GAMESEEKER</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Inicio</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href={% url 'client-list' %}>Clientes</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href={% url 'community-list' %}>Comunidades</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href={% url 'event-list' %}>Eventos</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href={% url 'game-list' %}>Juegos</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">Acerca de</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="mb-4">UBICACIÓN</h4>
                        <p class="pre-wrap lead mb-0">ESPAÑA</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="mb-4">MIS REDES SOCIALES</h4><a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/Gameseeker_"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/https://www.linkedin.com/in/jos%C3%A9-manuel-rodr%C3%ADguez-guerrero-367a09234/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="mb-4">SOBRE GAMESEEKER</h4>
                        <p class="pre-wrap lead mb-0">Gameseeker requiere de registro para poder unirse o crear eventos. ¿A qué esperas?</p>
                    </div>
                </div>
            </div>
        </footer>
        
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">FernandoAguilarQuignon © Your Website 2020     </small></div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="static/assets/mail/jqBootstrapValidation.js"></script>
    <script src="static/assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="static/js/scripts.js"></script>

    </body>
</html>