<!DOCTYPE html>
{% load static %}


<html lang="en">
    <head>
        {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
        <title>Gameseeker | {% block title %}{% endblock %}</title>
        <link rel="icon" href="../../static_pro/img/icono.ico" type="image/x-icon"/>
        <style>
        {% block style %}
        {% endblock %}
        </style>
    </head>

    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto/">Contacto</a></li>
            </ul>
            {% endblock %}
        </div>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>